<%- include('partials/header'); -%>

      <div class="principal">

            <h1 class="intro">
                  <%= homeStartingContent %>
            </h1>

            <!--<p><%= homeStartingContent %></p>-->

            <% posts.forEach(post=> { %>
                  <div class="text-content">
                        <h2>
                              <%= post.title %>
                        </h2>
                        <p>
                              <% if(post.content.length> 300){ %>
                                    <%= post.content.substring(0, 300) + "... " %>
                                          <% }else{ %>
                                                <%= post.content %>
                                                      <% } %>
                        </p>
                        <a class="readmore" href="/posts/<%= post._id %>">Read More</a>
                  </div>
                  <%}) %>
      </div>

      <%- include ('partials/footer'); -%>